<div *ngIf="!data">
  <h2 align="center">Receiving data from server...</h2>
<mat-progress-bar
mode="query"
color="primary"
></mat-progress-bar>
</div>
<p style="text-align: center; font-size: medium; font-weight: bold;">Todays data</p>
<div *ngIf="data">
  <mat-card>
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="tileColor"
      >
        <div class="sensor-title">
          Temperature: <b>{{temperature | number: '.1-2'}} &deg;C</b>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="tileColor"
      >
      <div class="sensor-title">
        Pressure: <b>{{pressure | number: '.1-2'}} hPa</b>
      </div>
      </mat-grid-tile>
      <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="tileColor"
      >
        Humidity:
        <div style="width: 4.5rem; height: 4.5rem">
         <app-spinner [value]="humidity" color="#58cef5"></app-spinner>
        </div>
        <!-- <div style="position: relative; width: 100px; height: 100px; display: flex; align-items: center; justify-content: center;"> -->
          <!-- <mat-progress-spinner
          style="width: 100px;height: 100px;position: absolute;top: 0;left: 0;"
          color="primary"
          mode="determinate"
          [value]="humidity">
      </mat-progress-spinner>
      <h2>{{humidity | number: '.1-2'}} %</h2> -->
      <!-- </div> -->
      
      </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<mat-divider></mat-divider>
  <mat-card>
    <mat-expansion-panel>
        <!-- <section *ngIf="!this.data">
    
        </section> -->
        <mat-expansion-panel-header>
            <mat-panel-title>
              Temperature
            </mat-panel-title>
            <mat-panel-description>Temperature sensor data</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-progress-bar
          *ngIf="!this.data" 
          mode="query"
          color="primary"
          ></mat-progress-bar>
          <app-sensor-data-chart
            #sensorData
            [datasets]="temperatures"
            [labels]="dateLabels"
            [colors]="lineChartColors"
            [showLegend]="true"
            *ngIf="this.data"
            >
    </app-sensor-data-chart>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <!-- <section *ngIf="!this.data">
    
        </section> -->
        <mat-expansion-panel-header>
            <mat-panel-title>
              Humidity
            </mat-panel-title>
            <mat-panel-description>Humidity sensor data</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-progress-bar
          *ngIf="!this.data" 
          mode="query"
          color="primary"
          ></mat-progress-bar>
          <app-sensor-data-chart
            #sensorData
            [datasets]="humidities"
            [labels]="dateLabels"
            [colors]="lineChartColors"
            [showLegend]="true"
            *ngIf="this.data"
            >
    </app-sensor-data-chart>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <!-- <section *ngIf="!this.data">
    
        </section> -->
        <mat-expansion-panel-header>
            <mat-panel-title>
              Pressure
            </mat-panel-title>
            <mat-panel-description>Pressure sensor data</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-progress-bar
          *ngIf="!this.data" 
          mode="query"
          color="primary"
          ></mat-progress-bar>
          <app-sensor-data-chart
            #sensorData
            [datasets]="pressures"
            [labels]="dateLabels"
            [colors]="lineChartColors"
            [showLegend]="true"
            *ngIf="this.data"
            >
    </app-sensor-data-chart>
    </mat-expansion-panel>
</mat-card>

</div>
